@chart-summary-title: #666;
@chart-canvas-bg: #fff;
.chart-summary {
  padding: 0 15px;
  background-color: @chart-canvas-bg;
  .title {
    color: @chart-summary-title;
    font-size: 62px;
    font-weight: 300;
    font-family: "IBM Plex Sans", sans-serif;
    line-height: 62px;
  }
}