// @import '~antd/lib/style/color/colorPalette.less';
@import '~antd/lib/style/themes/default.less';

.ant-select-tree .ant-select-tree-node-content-wrapper:hover {
  background: transparent;
}
.ant-select-clear {
  background: transparent;
}
.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
  border-right: none;
}
.ant-select-item-option-active {
  background-color: transparent;
}