@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

/**
*** Light Theme
**/

/** Menu Start **/
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #17bebb;
}

.ant-menu-vertical .ant-menu-item {
  color: white;
}
.ant-menu-light .ant-menu-item:hover, .ant-menu-light .ant-menu-item-active, .ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-light .ant-menu-submenu-active, .ant-menu-light .ant-menu-submenu-title:hover {
  color: white;
  background-color: #17bebb;
}
.ant-menu-submenu:hover > .ant-menu-submenu-title > .ant-menu-submenu-expand-icon, .ant-menu-submenu:hover > .ant-menu-submenu-title > .ant-menu-submenu-arrow{
  color: white;
}
/** Menu End **/

/** Custom Dropdown Menu Start **/ 

.ant-custom-dropdown-menu .ant-menu:not(.ant-menu-horizontal) .ant-menu-item:hover {
  background-color: #17bebb60;
  font-weight: normal;
  color: rgba(0,0,0,0.85);
}
.ant-custom-dropdown-menu .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #17bebb !important;
}
.ant-menu-item-selected .ant-menu-title-content {
  color: white;
}
.ant-menu-title-content{
  font-size: 16px;
  /* font-weight: 600; */
}
/** Custom Dropdown Menu End **/

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 5px;
}
.ant-select-item {
  min-height: 40px;
}

.ant-select-item-option-content {
  font-size: 16px;
}
.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: #17bebb60;
}
.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: #17bebb;
  font-weight: normal;
  color: white;
}


.ant-select-tree-title {
  font-size: 18px;
  line-height: 40px;
}
.ant-select-tree .ant-select-tree-node-content-wrapper.ant-select-tree-node-selected {
  background-color: transparent;
  transition-duration: 0;
}

.ant-select-tree .ant-select-tree-node-content-wrapper.ant-select-tree-node-selected .ant-select-tree-title {
  color: white;
}

.ant-select-tree .ant-select-tree-treenode {
  height: 40px;
  align-items: center;
}
.ant-select-tree .ant-select-tree-treenode-selected {
  background-color: #17bebb;
}
.ant-select-tree .ant-select-tree-treenode-selected .ant-select-tree-switcher {
  color: white;
}
.ant-select-tree-switcher {
  line-height: 40px;
}
.ant-select-tree .ant-select-tree-node-content-wrapper:hover {
  background-color: #17bebb60;
  line-height: 40px;
}
.ant-select-tree .ant-select-tree-node-content-wrapper {
  line-height: 38px;
  height: 38px;
}